########################
# sails
########################
.sails
.waterline
.rigging
.tmp

########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
assets/vendor
!assets/vendor/.gitkeep
experiment
node_modules
npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.sublime
test.js

########################
# local config
########################
config/local.js
