doctype html
html
  head
  title= title

  // Viewport mobile tag for sensible mobile support
  meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
  - /* includes JavaScripts loaded in the header of the page */
  include _meta/topScripts
  - /* includes CSS Styles */
  include _meta/styles
  block styles
  body
    section(ng-view ng-app="BullsAndCows" ng-controller="MainController")
      block body
      block footer
    - /* includes JavaScripts loaded in the footer of the page */
    include _meta/bottomScripts
