doctype html
html
  head
  title Bulls and Cows
  - /* includes JavaScripts loaded in the header of the page */
  include _meta/topScripts
  - /* includes CSS Styles */
  include _meta/styles
  block styles
  body(ng-app="BullsAndCows" ng-controller="FrontController")
    section(ng-view ng-show="$root.appIsLoaded()")
      block body
      block footer
    section.loading(ng-show="$root.loadingIsVisible()")
      | Loading screen
    - /* includes JavaScripts loaded in the footer of the page */
    include _meta/bottomScripts
