h1 Welcome to the lobby
section.games
  table
    thead
      td Name
      td Created by
      td Game mode
    tbody
      tr(ng-show="!hasGames()")
        td(colspan="3") There're games at the moment
      tr(ng-show="hasGames()" ng-repeat="game in games" ng-click="selectGame(game.id)" ng-class="{current: isCurrentlySelectedGame(game.id)}")
        td {{game.name}}
        td {{game.player}}
        td {{game.mode}}
  .buttons
    button(ng-click="toggleGameDialogue()") Create New Game
    button(ng-click="joinGame()" ng-disabled="config.joinDisabled") Join Game

  .newGameDialogue(ng-show="config.showGameDialog")
    div Choose game mode
    // ng-model doesn't work as expected! (probably cause of ng-repeat) 
    // using ng-change to apply mode value change
    label(ng-repeat="(modeId, mode) in config.playModes") {{mode.title}}
      input(type="radio" ng-model="config.playMode" ng-value="modeId" ng-click="selectPlayMode()")

    label(ng-show="config.showTitleInput") Enter game title
      input(type="text" ng-model="config.title")

    label(ng-show="config.showNumberInput") Enter secret number
      input(type="text" ng-model="config.secret")

    .buttons
      button(ng-click="startGame()" ng-disabled="config.startDisabled") Start Game
      button(ng-click="toggleGameDialogue()") Cancel