h1 Welcome to the lobby
section.games
  table
    thead
      td Name
      td Created by
      td Mode
    tbody
      tr(ng-show="!hasGames()")
        td(colspan="3") There're games at the moment
      tr(ng-show="hasGames()" ng-repeat="game in $root.games" ng-click="selectGame(game.id)" ng-class="{current: isCurrentlySelectedGame(game.id)}")
        td {{game.title}}
        td {{game.host}}
        td(ng-switch="game.isCooperative")
          span(ng-switch-when="true") Cooperative
          span(ng-switch-default) Player vs Player
  .buttons
    button(ng-click="toggleGameForm()") Create New Game
    button(ng-click="joinGame()" ng-disabled="lobby.joinDisabled") Join Game

.newGameDialogue(ng-show="game.showForm")
  // error messages
  ul.errors(ng-show="hasErrors()")
    li(ng-repeat="error in game.errors") {{error}}

  // play modes
  div(ng-class="{error: hasErrors('mode')}") Choose game mode
  label(ng-repeat="(modeId, mode) in config.modes") {{mode.title}}
    input(type="radio" ng-model="game.mode" ng-value="modeId" ng-click="selectPlayMode()")

  label(ng-show="game.showTitleInput") Enter game title
    input(type="text" ng-model="game.title" ng-class="{error: hasErrors('title')}")

  label(ng-show="game.showNumberInput") Enter secret number
    input(type="text" ng-model="game.secret" ng-class="{error: hasErrors('hostSecret')}")

  .buttons
    button(ng-click="startGame()" ng-disabled="game.startDisabled") Start Game
    button(ng-click="toggleGameForm()") Cancel