section.lobby
  div.games
    h1 Welcome to the lobby
    .list
      table.gameTable(cellspacing="0" cellpadding="0" border="0")
        thead
          td ID
          td Name
          td Created by
          td Mode
        tbody
          tr(ng-hide="hasGames()")
            td(colspan="4" class="nogames") There're no games at the moment
          tr(ng-show="hasGames()" ng-repeat="game in getGames()" ng-click="selectGame(game.id, game.isCooperative)" ng-class="{current: isCurrentGame(game.id)}")
            td {{game.id}}
            td {{game.title}}
            td {{game.host}}
            td(ng-switch="game.isCooperative")
              span(ng-switch-when="true") Cooperative
              span(ng-switch-default) Player vs Player
    .secret(ng-show="!lobby.isCooperative")
      div(ng-show="lobbyHasErrors()") {{lobby.errors}}
      input(ng-model="game.secret" ng-class="{error: lobbyHasErrors()}")
    .buttons
      button(ng-click="toggleGameForm()") Create New Game
      button(ng-click="joinGame()" ng-disabled="lobby.joinDisabled") Join Game

.newGame(ng-show="game.showForm")
  .dialogue
    // play modes
    div.modeSelect(ng-class="{hidden: isMultiplayerMode()}")
      h3(ng-class="{error: hasErrors('mode')}") Choose game mode
      label.mode(ng-repeat="(modeId, mode) in config.modes" ng-class="{current: isCurrentPlayMode(modeId)}") {{mode.title}}
        input(type="radio" ng-model="game.mode" ng-value="modeId" ng-click="selectPlayMode()")

    div.multiplayerForm(ng-class="{visible: isMultiplayerMode()}")
      h3 Multiplayer Game

      // error messages
      ul.errors(ng-show="hasErrors()")
        li(ng-repeat="error in game.errors") {{error}}

      .inputs
        label(ng-show="game.showTitleInput") Enter Game Title
          input(type="text" ng-model="game.title" ng-class="{error: hasErrors('title')}")

        label(ng-show="game.showNumberInput") Enter Secret Number
          input.secret(type="text" ng-model="game.secret" ng-class="{error: hasErrors('hostSecret')}")

    .buttons
      button(ng-click="startGame()" ng-disabled="game.startDisabled") Start Game
      button(ng-click="toggleGameForm()") Cancel