// Splash screen
.splash
  button(ng-click="continueToLobby()") Continue

// Enter name dialogue
.enterName(ng-show="state.showNameForm")
  form(ng-submit="registerPlayer()")
    p.error(ng-show="showError()") {{state.error}}
    label(for="player-name") Enter name:
      input(id="player-name" ng-model="state.name")
    button(type="submit") OK

// Welcome message
.welcomeMessage(ng-show="state.showWelcome")
  h1 Hey, {{$root.playerData.name}}
  div(ng-switch="state.isReturning")
    h3(ng-switch-when="true")
      | Welcome Back!
    h3(ng-switch-default)
      | Good to have you here!