// Splash screen
.splash
  button(ng-click="continueToLobby()" ng-hide="state.showWelcome") Continue to Lobby

// Enter name dialogue
.enterName(ng-class="{visible: state.showNameForm}")
  form(ng-submit="registerPlayer()" ng-class="{error: showError()}")
    label(for="player-name") Enter name
      p.error(ng-show="showError()") {{state.error}}
      input(id="player-name" placeholder="Name, alias, whatever..." ng-model="state.name" ng-class="{error: showError()}")
    button(type="submit") OK

// Welcome message
.welcomeMessage(ng-show="state.showWelcome" ng-class="{animate: state.animateWelcome}")
  h1 Hey, {{getName()}}
  div(ng-switch="state.isReturning")
    h3(ng-switch-when="true")
      | Welcome Back!
    h3(ng-switch-default)
      | Good to have you here!